.nav li a {
	font-size: 18px;
	color: rgb(241, 82, 135);
	text-decoration: none;
}

.navbar>.container .navbar-brand {
	color: rgb(241, 82, 135);
	font-family: 'Dancing Script', cursive;
	font-weight: 600;
	font-size: 22px;
}

.nav>li:hover a {
	color: rgb(249, 117, 160);
}

.fa-utensils {
	padding-right: 5px;
}

.navbar-brand:focus, .navbar-brand:hover {
	color: #FB6E9D !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent !important;
}

.title h2 {
	text-align: center;
	font-size: 50px;
	font-weight: 300;
	color: #555;
	line-height: 56px;
}

.our-fav {
	margin-top: 90px;
}

.section-description {
	margin-top: 25px;
	padding-bottom: 10px;
}

.ishidden {
	display: none !important
}

.position {
	font-weight: 700;
	padding: 13px;
	font-size: 18px;
	color: rgb(241, 82, 135);
	text-decoration: none;
}

.buttons {
	height: 30px;
	width: 70px;
	border: 1px solid grey;
	border-radius: 6px;
	color: rgb(230, 55, 100);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2 s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.buttons:hover {
	font-weight: 700;
}

#footer {
	text-align: center;
	margin-top: 90px;
}

#support {
	color: rgb(241, 82, 135) !important;
	font-family: 'Dancing Script', cursive;
	font-weight: 600;
	font-size: 30px;
	text-decoration: none !important
}

#support:focus, #support:hover {
	color: #FB6E9D !important;
}

.video {
	text-align: center;
	margin-top: 50px;
}

#sub-head {
	text-align: center;
	 font-style: italic;
	     color: rgb(241, 82, 135);
}
}
