.recipe-pic img {
	width: 100%;
	height: auto
}

.title {
	margin-bottom: 60px;
}

.next-bt {
	text-align: right;
	color: rgb(241, 82, 135);;
}

.prev-bt {
	text-align: left;
	color: rgb(241, 82, 135);;
}