.modifyDataLeft label {
    margin-bottom: 8px;
}
.modify {
    padding-top: 40px;
    padding-bottom: 20px;
}
.current {
    padding-top: 20px;
    padding-bottom: 20px;
}
img {
    margin: 20px;
}
.userAvatar {
    margin-top : 60px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.saveChanges {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.currentDataLeft {
    text-align: right;
}
.modifyDataLeft {
    text-align: right;
}
.currentDataLabel {
    text-align: center;
    color: rgb(241, 82, 135);
}
.modifyDataLabel {
    text-align: center;
    color: rgb(241, 82, 135);
}
.saveChanges {
    margin: 30px;
    color: rgb(241, 82, 135);
}
