<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

</head>

<body>

	<nav class="navbar " role="navigation" th:fragment="menu">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand" href="/"><span class="fas fa-utensils"></span>A
					Nyúlon túl</a>
			</div>

			<ul class="nav navbar-nav navbar-right">

				<li><a th:href="@{recipes}">Recipes</a></li>
				<li><a th:href="@{searchByIngr}">Search By Ingredients</a></li>
				<li th:if="${currentUserName == null}" class="personal ishidden"><a
					href="/favorites">My favourite recipes</a></li>
				<li th:unless="${currentUserName == null}" class="personal "><a
					href="/favorites">My favourite recipes</a></li>
				<li th:if="${currentUserName == null}" class="personal ishidden"><a
					th:href="@{profile}">Profile</a></li>
				<li th:unless="${currentUserName == null}" class="personal"><a
					th:href="@{profile}">Profile</a></li>

				<li th:if="${currentUserName == null}" id="regmenu" class="change"><a
					href="#reg" data-toggle="modal"><span
						class="glyphicon glyphicon-user"></span> Sign Up</a></li>

				<li th:unless="${currentUserName == null}" class="change position"
					th:text="'Welcome:' + ${currentUserName}"></li>

				<li th:if="${currentUserName == null}" id="loginmenu"><a
					href="#login" data-toggle="modal"><span
						class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
						
				<li th:if="${currentUserName == null}" id="logoutmenu"
					class=" logout ishidden"><a th:href="@{logout}"> Log out</a></li>
				<li th:unless="${currentUserName == null}" id="logoutmenu"><a
					th:href="@{logout}"> Log out</a></li>

			</ul>

		</div>
	</nav>




</body>

</html>